* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 20px 25px;
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-line {
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #1f2022;
}

.logo {
    margin: 0 50px 0 28px;
}

.input-group {
    background: #f9f9f9;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}

.input-search {
    background-color: transparent;
    border: none;
    padding: 12px 23px;
}

.button-search {
    padding: 0;
    height: 19px;
    width: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-search {
    fill: #000;
}

.nav-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icons-link {
    opacity: .24;
}

.icons-link:hover {
    opacity: .4;
}

.icons-link:not(:last-child) {
    margin-right: 50px;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 40px;
}
